footer {
  background-color: var(--brand-color);
  font-size: var(--body-font-size-m);
}

footer .footer {
  margin: auto;
  max-width: var(--max-width);
  padding: var(--spacing-l) var(--content-padding-mobile);
}

footer .footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

@media (width >= 769px) {
  footer .footer {
    padding: var(--spacing-xxl) var(--content-padding-desktop) var(--spacing-l);
  }

  footer .footer .footer-links {
    flex-direction: row;
  }

  footer .footer .footer-links > .footer-col,
  footer .footer .footer-links > div {
    flex: 1;
  }
}

@media (width >= 1200px) {
  footer .footer {
    max-width: var(--max-width-xl);
    padding-left: 0;
    padding-right: 0;
  }
}

footer .footer h6 {
  color: var(--text-color);
  margin: 0 0 var(--spacing-s);
  font-size: 1rem;
  font-weight: 700;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

footer .footer ul li a {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

footer .footer ul li a:hover {
  text-decoration: underline;
}

footer .footer p {
  margin: 0;
}

footer .footer > p {
  text-align: center;
  margin: 0;
  padding: var(--spacing-s) 0;
}

/* stylelint-disable-next-line no-descending-specificity */
footer .footer > p a {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  margin: 0 var(--spacing-s);
}

/* stylelint-disable-next-line no-descending-specificity */
footer .footer > p a:hover {
  text-decoration: underline;
}

footer .footer > p:last-child {
  font-size: 12px;
  color: var(--text-color);
  padding-top: var(--spacing-s);
}

@media (width >= 769px) {
  footer .footer > p {
    padding: var(--spacing-m) 0;
  }
}
